/* -------------------- General Styling -------------------- */
* {
    margin: 0;   
}

body {
    margin: auto;
    background: #2b2c2d;
    color: #ffffff;
    height:100%;
    margin-bottom: 100px;
    font-family: "Helvetica Neue Ultralight", Helvetica;
}

div {
    margin: auto;
    width: 90%;
}

h1, p {
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

p {
    margin-bottom: 3px;
}

/*-------------------- Home page slideshow sections -------------------- */
#catButton, #bothButton, #dogButton {
    background: #18a190;
    margin: 2.5%;
    padding: 1%;
    height: 200px;
    width: 25%;
    min-width: 300px;
    border-radius: 10px;
    float: left;
    overflow: auto;
}

#bothButton {
    background: #167692;
}

img {
    margin: auto;
    height: inherit;
    width: 290px;
}

/* -------------------- Register/login Forms -------------------- */
form {
    margin: auto;
    margin-bottom: 3px;
    width: 40%;
}

input {
    margin: auto;
    margin-bottom: 3px;
    height: 25px;
    width: 100%;
    border: 2px;
    border-radius: 5px;
    border-color: #7c8385;  
}

button {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 100%;
    border: 2px;
    border-radius: 5px;
    background: #18a190;
    color: #ffffff;
}
/* -------------------- Footer/Navigation Bar -------------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7c8385;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #18a190;
}

.active {
    background-color: #167692
}

ol li {
    float: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ol li:hover {
    background-color: #18a190;
}

#footerMenuSignedOut, #footerMenuSignedIn{
    position:fixed;
    bottom:0;
    width:100%;
    margin-top: 30px;
}


/* -------------------- Profile: top section -------------------- */
#top {
    width: 100%;
    height: 200px;
    background: #167692;
}

#picture {
    width: 20%;
    min-width: 200px;
    float: left;
    position: static;
}

#profilePic {
    height: 200px;
    width: 200px;
    position: static;
}

#editPic, #editUsername {
    height: 20px;
    width: 20px;
    position: absolute;
}

#editPic {
    float: left;
}

#editUsername {
    float: right;
}

#info {
    left: 200px;
    width: 80%;
    display: inline;
    position: static;
    float: right;
}

#info img {
    height: 20px;
    width: 20px;
    float: right;
}

#info p {
    text-align: left;
}

/* -------------------- Profile Post Section -------------------- */
#rest {
    width: 100%;
    height: auto;
    float: left;
}

#profilePost {
    width: 20%;
    height: 300px; 
    float: left;
}

#profilePostForm {
    width: 100%;
}

#profilePost #file {
    width: 100%;
    height: auto;
}

#profilePost #text {
    width: 100%;
    min-height: 200px;
    height: auto;
}

#profilePost #submit {
    width: 100%;
    background: #18a190;
}

.posts {
    width: 80%;
    height: auto;
    float: left;
    margin-bottom: 100px;
}

/* -------------------- Main page feed  -------------------- */
#feedPost {
    height: auto;
    background: #18a190;
    border-radius: 10px;
    margin-bottom: 30px;
}

#post {
    padding: 2%;
}

#postPicture {
    float: left;
    padding-right: 5px;
}

#postReactions {
    float: left;
}

#caption, #comments {
    width: 100%;
    margin-top: 0px;
    border-bottom: solid;
    border-bottom-color: #167692;
    border-bottom-width: thin;
    float: left;
    text-align: left;
    text-align-last: left;
    text-overflow: ellipsis;
}

#time {
    font-size: xx-small;
    margin-top: 0px;
    text-align: right;
}

/* -------------------- Edit Pages Back Button -------------------- */
#backButton {
    width: 40%;
}

/* -------------------- -------------------- */
#friendsfeed {
    text-align: left;
}

