
* {
    margin: 0;   
}

body {
    margin: auto;
    background: #2b2c2d;
    color: #ffffff;
    height:100%;
    font-family: "Helvetica Neue Ultralight", Helvetica;
}

h1, p {
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

p {
    margin-bottom: 3px;
}

div {
    margin: auto;
    width: 90%;
}

#catButton, #bothButton, #dogButton {
    background: #18a190;
    margin: 2.5%;
    padding: 1%;
    height: 200px;
    width: 25%;
    min-width: 300px;
    border-radius: 10px;
    float: left;
    overflow: auto;
}

#bothButton {
    background: #167692;
}

img {
    margin: auto;
    height: inherit;
}

form {
    margin: auto;
    width: 40%;
}

input {
    margin: auto;
    margin-bottom: 3px;
    height: 25px;
    width: 100%;
    border: 2px;
    border-radius: 5px;
    border-color: #7c8385;  
}

button {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 100%;
    border: 2px;
    border-radius: 5px;
    background: #18a190;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7c8385;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #18a190;
}

.active {
    background-color: #167692
}

#footerMenuSignedOut, #footerMenuSignedIn{
    position:fixed;
    bottom:0;
    width:100%;
}

