
* {
    margin: 0;   
}

body {
    margin: auto;
    background: #2b2c2d;
    color: #ffffff;
    font-family: "Helvetica Neue Ultralight", Helvetica;
}

header h1 {
    margin: auto;
}

section {
    background: #18a190;
    min-width: 30%;
    float: left;
}

section bothButton {
    background: #167692;
}

img {
    margin: auto;
    width: 80%;
    height: 80%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7c8385;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #18a190;
}

li .active {
    background-color: #167692
}

